@model List<CourseManagement_Model.ViewModel.AssignmentModel>

<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .table th, .table td {
        vertical-align: middle;
        text-align: center;
    }

    .btn-disabled {
        background-color: #6c757d;
        border-color: #6c757d;
        cursor: not-allowed;
    }
</style>
<div class="container mt-3">

    @* <div class="d-flex">
            <a class="btn btn-success btn-sm" href="CreateAssignment">
                Create Assignment
            </a>
        </div>*@
    <div class="card mt-5">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>Title</th>
                        <th>Desription</th>
                        <th>Date</th>
                        <th>Complete Assignment</th>
                        <th>Grade Preview</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>@item.DueDate.ToString().Split(' ')[0]</td>

                                @if (item.Is_submit != true)
                                {
                                    if (item.DueDate > DateTime.Now)
                                    {

                                        <td><a href="~/Student/SubmitAssignment?AssignmentId=@item.AssignmentId" class="btn btn-sm btn-outline-success">Submit Assignment </a></td>
                                    }
                                    else
                                    {
                                        <td>Date is Over</td>
                                    }
                                    <td>Not Available Grade</td>
                                }
                                else
                                {
                                    <td class="text-primary">Alredy Submit</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                            View Grade
                                        </button>
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Grade Review</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p><span class="h6">Grade : </span>@item.Grade</p>
                                                        <p><span class="h6">Feedback : </span>@item.Feedback</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
