
@model List<CourseManagement_Model.ViewModel.SubmitAssignmentModel>

@if (@TempData["Submit Review"] != null)
{
    <script>
        toastr.success('@TempData["Submit Review"]')
    </script>
}
<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .table th, .table td {
        vertical-align: middle;
        text-align: center;
    }

    .btn-disabled {
        background-color: #6c757d;
        border-color: #6c757d;
        cursor: not-allowed;
    }
</style>
<div class="container mt-3">
    <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th>Assignment Title</th>
                <th>Assignment Description</th>
                <th>Student Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AssignmentTitle</td>
                        <td>@item.AssignmentDescription</td>
                        <td>@item.StudentName</td>
                        <td>
                            @if (item.IsSubmit != true)
                            {
                                <span>Already Submit</span>
                            }
                            else
                            {
                                if (item.Grade == 0 && item.Feedback == null)
                                {
                                    <button type="button" class="btn btn-primary btn-sm gradeButton" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Grade
                                    </button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Grade and Feedback</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" id="Formbody">
                                                    <form method="post" action="SubmitReview">
                                                        <input value="@item.SubmissionId" type="text" name="SubmissionId" hidden />
                                                        <div class="form-group">
                                                            <label for="Grade" class="form-label fs-4">Grade</label>
                                                            <input type="text" class="form-control" name="Grade" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Feedback" class="form-label fs-4">Feedback</label>
                                                            <input type="text" class="form-control" name="Feedback" />
                                                        </div>
                                                        <div class="form-group mt-2">
                                                            <button type="submit" class="btn btn-success">Submit Review</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <span>Already Submit </span>
                                }

                            }

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@*<script>
        $(document).ready(function () {
            (".gradeButton").on("click", function () {
                ("#Formbody").empty();

                var id = $(this).data('id');
            })
        })
    </script>*@